.side_nav {
  height: 100vh;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 4rem 0;
  font-size: clamp(16px, 3vw, 1.5rem);
  font-weight: 600;
  opacity: 0.9;
}

.side_nav ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  padding: 0 1rem;
}

.side_nav ul li {
  display: flex;
  margin: 1rem;
}

#close_btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
}
