.header-container {
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: #fff;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}
.header-wrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.header-center {
  flex: 4;
}
.header-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right svg {
  margin: 0 1rem;
}
.logo {
  font-family: "Cinzel Decorative", cursive;
  font-weight: bold;
  font-size: 2rem;
  margin-right: 1rem;
  color: hotpink;
  cursor: pointer;
}
.header-text {
  font-family: "Righteous", cursive;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}
.header-container .search-box {
  display: flex;
  align-items: center;
  border: 0.15rem solid #f2f2f2;
  padding: 0.2rem 1rem;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: #f2f2f2;
}
.search-box:focus-within {
  border: 0.15rem solid lightgray;
}

/* mobile */

.mobile-header > .header-left {
  justify-content: flex-start;
}

.mobile-header > .header-right {
  justify-content: flex-end;
}
.mobile-header > .header-right svg {
  margin: 0;
}
